[submodule "Submodules/terminal-git-helpers"]
	path = Submodules/terminal-git-helpers
	url = https://github.com/cynj-at/terminal-git-helpers.git
[submodule "Submodules/auto_init_juce"]
	path = Submodules/auto_init_juce
	url = https://github.com/cynj-at/auto_init_juce.git
